
/*body{*/
/*    background: url(../images/mainpage.jpg);*/
/*    background-size: cover;*/
/*    background-attachment: fixed;*/
/*}*/

#Footer{
    background-color: black;
    height: 9ex;
    /*line-height: 40px;*/
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
}

#PoweredBy {
    width: 30%;
    height: 9ex;
    padding: 0ex 0ex 0ex 0ex;
    margin: 0ex 0ex 0ex 0ex;
    border-width: .3ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: bottom;
    background-color: #000;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#PoweredBy {
    height: 9ex;
}

#Banner {
    width: 69%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: .3ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #000;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;

}

body>#Banner {
    height: 9ex;
}



.header_icon{
    width: 1002px;
    height: 100px;
    /* background: pink; */
    /* 左右居中 */
    margin: 0 auto;
}

.header_con h1 {
    width: 604px;
    height: 66px;
    /* background: orange; */
    float: left;
    padding: 0px 0 0 0px;
}

.header_con form {
    width: 227px;
    height: 61px;
    /* background: orangered; */
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

.header_con .search {
    width: 195px;
    height: 26px;
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    /* 清除右侧边框 */
    border-right: none;
    float: left;
    color: #888888;
}

.header_con .btn {
    width: 30px;
    height: 26px;
    border: none;
    background: url("../images/search.jpg") no-repeat center;
}

.header_con form div {
    width: 30px;
    height: 26px;
    border: 1px solid #e5e5e5;
    border-left: none;
    float: left;
    /* 给btn套盒子的时候也要加浮动 */
}

.menu ul
{
    list-style-type:none;
    margin:10ex;
    padding:10ex;

}
.menu li
{
    float: left;
    border-right: 2px solid white;
}
.menu a:link,a:visited
{
    float:left;
    display:block;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#bebebe;
    width:120px;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}
.menu a:hover,a:active
{
    background-color:#cc0000;
}
.font{
    width: 606px;
    height: 360px;
    filter: grayscale(80%);
    background-size: cover;
    z-index: -3;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
}

.font h1{
    /*font-size: 60px;*/
    /*text-shadow: 0 0 2px black;*/
    /*color: white;*/
    /*position: fixed;*/


    margin: 0;
    font-size: 4rem;
    color: transparent;
    background: linear-gradient(to right, #fff, #BF391B, #0D0D0D);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    letter-spacing: 0.4rem;
    font-style: italic;
}
h1::before,
h1::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    -webkit-text-stroke: 12px #000;
    z-index: -1;
}
h1::after{
    -webkit-text-stroke: 17px #fff;
    z-index: -2;
}
h1:nth-child(2){
    margin-top: -12px;
    font-size: 1.5rem;
}

#searchlist{

    margin-left: 1180px;
    margin-bottom: 1200px;
    margin-top: -1000px;
    margin-right: -300px;

}

#searchlist input{
    font-size: large;
}


#searchMsg{
    color: #EEEEEE;
    margin-top: 5%;
}
#navv{
    margin-left: 480px;
    margin-bottom: 1000px;
    margin-top: -500px;
    margin-right: -100px;

}

#nav {
    height: 58px;
    background: black;
}

#nav .nav_con {
    width: 1002px;
    height: 58px;
    background: black;
    margin: 0 auto;
}


/* 导航横向排列 */

#nav .nav_con li {
    width: 118px;
    height: 58px;
    float: left;
    background: black;
    /* 左右居中 */
    text-align: center;
    /* 上下居中 */
    line-height: 58px;
    border-left: 1px solid #4a4a4a;
    font-size: 12px;
}

.nav_con li a {
    color: white;
}

.margin-left {
    margin-left: 25px;
    border-left: none !important;
}
/* 重置样式表 */

* {
    margin: 0;
    padding: 0;
}


/* 统一页面文本 */

body {
    font-size: 16px;
    font-family: "微软雅黑";
}


/* 清除列表符号 */

ul,
ol,
li {
    list-style: none;
}


/* 清除下划线 */

u,
a {
    text-decoration: none;
}


/* 清除倾斜 */

i,
em {
    font-style: normal;
}


/* 清除加粗 */

b,
strong {
    font-weight: normal;
}


/* 清除文本默认大小和加粗 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-weight: normal;
}


/* 边框清零 */

img {
    border: none;
}


/* 清除聚焦时候的边框 */

input {
    outline: none;
}
#Catalog {
    padding: 1ex;
    background:inherit;
    text-align:center;
}

#Catalog p {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 2ex;
}

#Catalog a, a:visited, a:link {
    color: #039;

    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

a:hover {
    color: #69f;
}

a.Button, a.Button:link, a.Button:visited {
    padding: .3ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
}

a.Button:hover {
    color: #000;
    background-color: #54c07a;
}

#Catalog input[type="submit"]{
    padding: .3ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
    border-width:0;
}
#Catalog input[type="submit"]:hover {
    color: #000;
    background-color: #54c07a;
    cursor:pointer;
}

#Catalog table{
    margin-left:auto;
    margin-right:auto;
}

#BackLink{
    padding: 1ex;
    float: right;
    border-width: .1ex 0ex .1ex 0px;
    border-style: solid;
    border-color: #000;
}

#Cart{
    width: 69.99%;
    float: left;
    background-color:#fff;
}

#Product td,th{
    empty-cells: show;
    padding: .3ex .3ex;
    vertical-align: top;
    text-align: left;
    border-width: 0;
    border-spacing: 0;
    background-color: #ececec
}

#Product th{
    font-weight: bold;
    background-color: #e2e2e2;
}

#Product h2{
    margin: 2ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 2ex;
    font-weight: 700;
    color: #444;
}

#Product table{
    border-width: 0;
    empty-cells: show;
}

#tablePoosition{
    margin-left: 400px;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-right: 100px;
}

#bbut button {

    margin-top: 18px; /* 设置合适的上部外框的宽度，增加与上面的password框的距离 */
    text-align: center;
    font-size: 15px; /* 修改按钮文字的大小 */
    /* 设置按钮里面字体颜色 */
    color: white;
    background-color:#d87137;
}
/*#Cartt thead th {*/


/*    background-color: black;*/
/*    color: white;*/
/*}*/

/*#Cartt tbody tr:nth-child(2n){*/
/*    background-color: #d87137;*/
/*    cursor: pointer;*/
/*    color: white;*/
/*}*/
/*#Carttt body tr:nth-child(2n-1){*/
/*    background-color: black;*/
/*    cursor: pointer;!*鼠标放上去后变成小手*!*/
/*    color: #EEEEEE;*/
/*}*/
/*#Cartt h2{*/
/*    margin-top: 100px;*/
/*}*/

/*#Cartt #btn_sub{*/
/*    width: 100px;*/
/*    height:30px;*/
/*    color: white;*/
/*    background-color: black;*/
/*    border: 1px solid #ffffff;*/
/*    text-align: center;*/
/*    margin-right: 10px;*/
/*    margin-left: 1000px;*/
/*    margin-top: 30px;*/
/*    padding-right: 5px;*/
/*}*/

/*#Cartt#btn_reset{*/
/*    width: 100px;*/
/*    height:30px;*/
/*    color: white;*/
/*    background-color: black;*/
/*    border: 1px solid #ffffff;*/
/*    text-align: center;*/
/*    margin-right: 10px;*/
/*    margin-top: 30px;*/
/*    padding-right: 5px;*/
/*}*/
/*#Cartt #but button {*/
/*    margin-top: 18px; !* 设置合适的上部外框的宽度，增加与上面的password框的距离 *!*/
/*    text-align: center;*/
/*    font-size: 15px; !* 修改按钮文字的大小 *!*/
/*    !* 设置按钮里面字体颜色 *!*/
/*    color: white;*/
/*    background-color:#d87137;*/
/*}*/












